


.admin-layout {
    display: flex;
    height: 100vh;
    background: #f4f6f9;
}


.menu {
    width: 330px;
    background: #4591fb; 
    color: #fff;
    padding-top: 20px;
}

.menu h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 30px 20px;
    cursor: pointer;
    font-size: 30px;
}

.menu ul li:hover {
    background: #374151;

}
h3{
    font-size: 40px;
}

.content {
    flex: 1;
    padding: 50px;
    overflow-y: auto;
    background: #f9fafb;
}


.toolbar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.toolbar input {
    padding: 16px;
    width: 450px;
    font-size: 20px;
}

.toolbar button {
    padding: 16px 12px;
    margin-left: 30px;
    font-size: 20px;
    background:#afd1ff;
    cursor: pointer;

}
.toolbar button:hover{
    background:#5398ff;
}

.bang {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.bang th, .bang td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 30px;
}

.bang th {
    background: #e2e8f0;
}

button.btn {
    background: #ff7b34;
    color: white;
    padding:15px 30px;
    margin-left: 50px;
    border-radius: 5px;
    cursor: pointer;
}
button.btn:hover{
    background:#647692;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.modal-box {
    background: #fff;
    width: 700px;
    margin: 100px auto;
    padding: 20px;
}

.modal-box input, .modal-box select {
    width: 98%;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 27px;
}

.toolbar select {
    padding: 15px 10px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 25px;
    margin: 10px 30px;
}
.modal-box textarea{
    width: 98%;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 27px;
}

.modal-box .nut {
    text-align: right;
    font-size: 25px;
    margin-right: 20px;
    padding:10px 20px;
    margin-top: 20px;
    background:#4591fb;
}

.modal-box .nut:hover{
    background:#83a5d5;
    cursor: pointer;
}
