

.banner {
    background: url("") no-repeat center;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 80px 20px;
    height:300px;
    font-size: 35px;
    background-color: #aef8ff;
}

.banner h1 {
    font-size: 56px;
    margin-top: 50px;
}


section {
    padding: 40px 60px;
    background: white;
    margin-bottom: 10px;
    font-size: 25px;
}

h2 {
    color: #1e90ff;
}


.danh-sach-khoa-hoc {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.khoa-hoc {
    background: #bfffc3;
    padding: 40px;
    border-radius: 15px;
    flex: 1;

}
.danh-sach-khoa-hoc a {
    color:#1e90ff;
    text-decoration: none;
    font-size:40px;
    font-weight: bold;
}

.thong-ke {
    background: #1e3a8a;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    text-align: center;
    gap: 30px;
}

.thong-ke-item h3 {
    font-size: 36px;
    margin-bottom: 8px;
}


.dang-ky-ngay {
    background: #2563eb;
    color: #fff;
    text-align: center;
}

.dang-ky-ngay h2 {
    color: #fff;
}

.dang-ky-ngay p {
    margin-bottom: 25px;
    font-size: 22px;
}

.nut-dang-ky {
    background: #fff;
    color: #2563eb;
    padding: 12px 28px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;

}

.nut-dang-ky:hover {
    background: #e0e7ff;
}

.ly-do ul {
    max-width: 500px;
    margin: auto;
    list-style: none;
}

.ly-do li {
    background: #fff;
    padding: 12px 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}



